<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>My courses</title>
    <th:block th:include="fragments/head :: headInclude"/>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<input type="text" hidden="hidden" th:value="${username}" id="username"/>
<!--My courses-->

<div class="container">
    <div class="row">
        <h1 class="text-center col-md-12 myCoursesHeader">My courses</h1>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">Course</div>
        <div class="col-md-3 text-center">Semester</div>
        <div class="col-md-3 text-center">Class code</div>
        <div class="col-md-3 text-center">Mandatory</div>
        <div class="col-md-3 text-center"></div>
    </div>
    <div id="myCourses">

        <div class="row" th:each="course : ${courses}">
            <div class="col-md-3 text-center" th:text="${course.courseNameInEnglish}">Full Stack NodeJs</div>
            <div class="col-md-3 text-center" th:text="${course.classCode}">DAT17C-NODEJS</div>
            <div class="col-md-3 text-center"><input type="checkbox" th:checked="${course.mandatory}" disabled/></div>
            <div class="col-md-3 text-center">
                <a th:href="'/student/course/'+${course.id}">
                    <button type="button" class="btn">Open course</button>
                </a>
            </div>
        </div>
    </div>
    <!--end myCourses div-->


</div>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        getAllCourses();
        setInterval(getAllCourses, 60000);
    });

    function getAllCourses() {
        var myCourses = $('#myCourses');
        var email = [[${username}]];

        $.ajax({
            type: 'GET',
            url: '/api/student/courses?email=' + email,
            success: function (courses) {
                myCourses.empty();
                $.each(courses, function (i, course) {
                    var mandatory = '';

                    if (course.mandatory == true) {
                        mandatory = 'checked';
                    }

                    myCourses.append('<div class="row">' +
                        '<div class="col-md-3">' + course.courseNameInEnglish + '</div>' +
                        '<div class="col-md-3">' + course.classCode + '</div>' +
                        '<div class="col-md-3 text-center"><input type="checkbox"' + mandatory + ' disabled/></div>' +
                        '<div class="col-md-3">' +
                        '<button type="button" class="btn">Open course</button>' +
                        '</div>' +
                        '</div>');

                });
            }


        });
    }
</script>


</body>
</html>