@font-face {
    font-family: "Helvetica Neue Condensed";
    src: url('../Fonts/HelveticaNeue-Condensed-Bold.ttf');
}

@font-face {
    font-family: "Helvetica Neue Less Condensed";
    src: url('../Fonts/HelveticaNeue-CondObl.ttf');
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

a {
    font-family: "Helvetica Neue Condensed", sans-serif;
    text-transform: uppercase;
}

body {
    font-family: "Helvetica Neue Condensed", sans-serif;
    background-color: #ededed;
    color: #233249;
}

input[disabled] {
    background-color: #ffffff;
    color: #233249;
}

select[disabled] {
    background-color: #ffffff;
    color: #233249;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.accessDenied{
    color: #fff;
    background-color: #ea5045;
    margin-top: 200px;
}

.keaColour {
    background-color: #00c6c4;
}

.editCourseHeader {
    margin: 50px 0;
    background-color: #B05544;
    color: #fff;
}

.editCourseBox {
    background-color: #00B269;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.findCoursesHeader {
    margin: 50px 0;
    background-color: #ff007f8c;
    color: #fff;
}

.findCoursesBox {
    background-color: #5aa75a;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.myCoursesHeader {
    margin: 50px 0;
    background-color: #FF007F;
    color: #fff;
}

.myTeacherCoursesHeader {
    margin: 50px 0;
    background-color: #d39e0054;
    color: #2c3748;
}

.myTeacherCoursesBox {
    background-color: #5f00ff40;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.findCoursesBox {
    background-color: #5aa75a;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.pendingCoursesHeader {
    margin: 50px 0;
    background-color: #00695F;
    color: #fff;
}

.pendingCoursesBox {
    background-color: #ffb58f;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.requestsHeader {
    margin: 50px 0;
    background-color: #FFCB19;
    color: #fff;
}

.requestsBox {
    background-color: #93a0ff;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.myCoursesHeader {
    margin: 50px 0;
    background-color: #5f9ea0;
    color: #fff;
}

.myCoursesBox {
    background-color: #ff8a44;
    color: #fff;
    padding: 25px;
    margin-bottom: 50px;
}

.allCoursesHeader {
    margin: 50px 0;
    background-color: #cd5c5c;
    color: #fff;
}

.allCoursesBox {
    background-color: #6495ed;
    color: #fff;
    padding: 25px;
    margin-bottom: 50px;
}

.hoverEffect {
    cursor: pointer;
}

.loginError {
    background-color: #ea5045;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.logoutSuccess {
    background-color: #5aaf6b;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.marginBottom15px {
    margin-bottom: 15px;
}

.loginWidth {
    width: 50%;
}

.centerDiv {
    margin: 0 auto;
}

.inlineFlex {
    display: inline-flex;
}

h1 {
    font-size: 66px;
    text-transform: uppercase;
}

p {
    font-size: 26px;
}

.loginLabel {
    font-size: 26px;
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
}

.loginHeader {
    color: black;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #ea5045;
}

.loginButton {
    background-color: #233249;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #313e5b;
}

.loginInput {
    display: block;
    width: 100%;
    height: calc(2.25rem + 10px);
    padding: .375rem .75rem;
    border-width: 0;
    outline: none;
    color: #233249;
}

.backgroundCover {
    background-size: cover;
    background-repeat: no-repeat;
    /* TODO: baggrund ved mindre vindue */
}

.createUserButton {
    margin-top: 30px;
}

.createCoursesHeader {
    margin: 50px 0;
    background-color: #2e73c1;
    color: #fff;
}

.createCourseBox {
    background-color: #6dcead;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.createUserHeader {
    margin: 50px 0;
    background-color: #00A2FF;
    color: #fff;
}

.createUserBox {
    background-color: #d2b48c;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.settingsBox {
    background-color: lightblue;
    color: #233249;
    padding: 25px;
    margin-bottom: 50px;
}

.textInput {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border-width: 0;
    outline: none;
    color: #233249;
    margin-bottom: 10px;
}

.inputLabel {
    margin-bottom: 0;
    text-transform: uppercase;
}

.myCoursesEditBtn{
    background-color: #233249;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    float: right;
    /* transform: translateX(1px); */

}

.modal-content {
    border-radius: 0;
    background-color: #233249;
}

.modal-header {
    border-bottom: none;
}

.modal-header p {
    color: #fff;
    text-transform: uppercase;
    margin: auto 0 auto 10px;
}

.modal-body {
    color: #fff;
    margin: auto 10px;
    font-size: 48px;
    padding: 0 30px;
    text-transform: uppercase;
}

.modal-body label {
    font-size: 18px;
    margin-top: 10px
}

.modal-footer {
    border-top: none;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    text-shadow: none;
    opacity: 1;
}

.close span {
    font-size: 40px;
    position: relative;
    bottom: 5px;
}

.acceptButton {
    background-color: #5aaf6b;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.acceptButton:hover {
    background-color: #4a934f;
}

.declineButton {
    background-color: #ea5045;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 195px !important;
    margin-bottom: 10px;
}

.declineButton:hover {
    background-color: #cc4e43;
}

.createCourseButton {
    background-color: #233249;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.hoverAnimation:hover .faArrow{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transition: .5s;
}

a:hover{
    text-decoration: none;
}

.createCourseButton:hover {
    background-color: #313e5b;
}

.faArrow {
    transition: .5s;
    padding-left: 10px;
}

.multiSelect {
    height: 175px;
}

.darkBlue {
    color: #233249;
}

.settingsHeader {
    margin: 50px 0;
    background-color: #ff9911;
    color: #fff;
}

.padding0 {
    padding: 0 !important;
}

#tester {
    height: 450px !important;
}

#mandatory option {
    height: 500px;
}

.multiSelectBox {
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-color: white;
    overflow-y: auto;
}

.multiSelectBox::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.multiSelectBox::-webkit-scrollbar-thumb {
    background-color: #223249;
}

select option {
    padding-bottom: 4px;
    padding-top: 4px;
}

.myCoursesRow:hover .myCoursesText {
    color: #fff;
    transition: .3s;
}

.searchBox {
    padding: .375rem .75rem;
    border-width: 0;
    outline: none;
    color: #233249;
    margin: auto 20px 20px auto;
    width: 250px;
}

.requestsText {
    width: 100%;
    padding: .375rem .75rem;
    border-width: 0;
    outline: none;
    color: #233249;
    margin-bottom: 0px;
}

.findCoursesText {
    width: 100%;
    padding: .375rem .75rem;
    border-width: 0;
    outline: none;
    color: #233249;
    margin-bottom: 0px;
}

.myCoursesText {
    font-family: "Helvetica Neue Less Condensed", sans-serif;
    transition: .3s;
}

.deleteCourseButton {
    margin-right: 25px;
    background-color: #de533d;
    color: #fff;
    border: none;
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    float: left;
}

.deleteCourseButton:hover {
    background-color: #ff634a;
}

.marginTop50px {
    margin-top: 50px;
}

    /* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    color: #fff;
    position: absolute;
    padding: 15px 25px;
    margin-top: 10px;
    border: solid 2px #223249;
    background-color: #223249;
    text-transform: uppercase;
}

#message h3 {
    font-size: 18px;
}

#message p {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 2px;
}

#message::after {
    content: "";
    position: absolute;
    margin-left: 1px;
    bottom: 48px;
    left: -8%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: #223249 transparent transparent #223249;
    transform-origin: 0 0;
    transform: rotate(-45deg);
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -10px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}

/* Top bar */
.topBar {
    font-family: "Helvetica Neue Condensed", sans-serif;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    background-color: #c8d0d8;
    padding: 3px 30px;
}

/* Navbar */
.navbarStyle {
    background-color: #223249;
    height: 65px;
    padding: 0;
}

.navbarStyle a {
    color: #fff !important;
}

.navbarLogo {
    background-color: #de533d !important;
    height: 37px;
    margin: 0;
    padding: 0;
}

.navbarLogoDiv {
    height: 100%;
    background-color: #de533d;
    padding: 15px 30px 0;
}

.nav-link {
    padding: 20px !important;
    height: 65px;
}

.nav-link:hover {
    background-color: #313e5b;
    transition: background-color .1s ease-in-out;
}

.navbar-nav {
    height: 100%;
}

#navbarNavDropdown {
    height: 100%;
}

.navDropdown {
    margin: 0;
    padding: 0;
    background-color: #223249;
    top: auto;
    border: none;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: #313e5b;
    color: #fff;
    transition: background-color .1s ease-in-out;
}

.dropdown-item {
    padding: 9px 24px;
    border-bottom: solid 1px #666888;
}

.navbarSettings {
    right: 0;
    position: absolute;
}

#profilePicture {
    height: 25px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover {
    background-color: #313e5b;
    transition: background-color .1s ease-in-out;
}

#navbarDropdownMenuLink {
    padding: 0 20px 0 0 !important;
    color: #fff;
    cursor: default;
}

.navbar-nav .nav-item {
    background-color: #223249;
}

.navbar-toggler {
    margin-right: 20px;
}

.userIcon {
    font-size: 35px;
    vertical-align: middle;
}

.userName {
    padding: 20px 10px 20px 20px !important;
}