<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset=" UTF-8"/>
    <title>Create course</title>
    <th:block th:include="fragments/head :: headInclude"/>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <p th:text="${user}"></p>

    <h1>Create new course</h1>
    <form method="post" class="form-group" th:action="@{/teacher/createCourse}">
        <label>Name of the course (Danish)</label>
        <input type="text" class="form-control " th:field="${course.courseNameInDanish}"
               placeholder="Full Stack NodeJs"/>
        <label>Name of the course (English)</label>
        <input type="text" class="form-control " th:field="${course.courseNameInEnglish}"/>
        <label>Semester</label>
        <input type="text" class="form-control" th:field="${course.semester}"/>
        <label>Class code</label>
        <input type="text" class="form-control" th:field="${course.classCode}"/>
        <label>Study Programme</label>
        <input type="text" class="form-control" th:field="${course.studyProgram}"/>
        <label>Mandatory or Elective</label>
        <input type="text" class="form-control" th:field="${course.mandatory}"/>
        <label>ECTS</label>
        <input type="number" min="0" class="form-control" th:field="${course.ects}"/>
        <label>Course language</label>
        <input type="text" class="form-control" th:field="${course.courselanguage}"/>
        <label>Minimum # of students</label>
        <input type="number" min="0" class="form-control" th:field="${course.minimumStudents}"/>
        <label>Expected # of students</label>
        <input type="number" min="0" class="form-control" th:field="${course.expectedStudents}"/>
        <label>Maximum # of students</label>
        <input type="number" min="0" class="form-control" th:field="${course.maximumStudents}"/>
        <label>Prerequisites</label>
        <input type="text" class="form-control" th:field="${course.prerequisites}"/>
        <label>Learning outcome</label>
        <input type="text" class="form-control" th:field="${course.learningOutcome}"/>
        <label>Content</label>
        <input type="text" class="form-control" th:field="${course.content}"/>
        <label>Learning activities</label>
        <input type="text" class="form-control" th:field="${course.learningActivities}"/>
        <label>Exam form</label>
        <input type="text" class="form-control" th:field="${course.examForm}"/>
        <label>Teachers</label>
        <select class="form-control">
            <option>Teacher 1</option>
            <option>Teacher 2</option>
            <option>Teacher 3</option>
        </select>
        <br/>
        <input type="text" hidden="hidden" th:value="${user}" name="user"/>
        <button type="submit" class="btn btn-success">Create course</button>

    </form>
</div>
<form method="post" action="/logout">
    <button type="submit">logout</button>
</form>

</body>
</html>