<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>My courses</title>
    <th:block th:include="fragments/head :: headInclude"/>

</head>
<body>

<!--Navbar-->
<nav th:replace="fragments/navbar :: navbar"></nav>

<input type="text" hidden="hidden" th:value="${username}" id="username"/>
<!--My courses-->
<div class="container">
    <div class="text-center">
        <h1 class="createCoursesHeader">My courses</h1>
    </div>
    <div class="createCourseBox">
        <form method="post" th:action="@{/teacher/myCourses}">
            <div class="row text-center">
                <div class="col">
                    <label class="inputLabel">Name of the course (English)</label>
                </div>
                <div class="col">
                    <label class="inputLabel">Semester</label>
                </div>
                <div class="col">
                    <label class="inputLabel">Class code</label>
                </div>

                <div class="col">
                    <label class="inputLabel">Mandatory/elective</label>
                </div>
            </div>


            <!--Courses starts here-->

            <a th:href="'/teacher/course/'+${course.id}"  th:each="course : ${courses}">
                <div class="row text-center myCoursesRow">

                    <p class="col textInput myCoursesText" th:text="${course.getCourseNameInEnglish()}">Full stack</p>
                    <p class="col textInput myCoursesText" th:text="${course.getSemester()}">2</p>
                    <p class="col textInput myCoursesText" th:text="${course.getClassCode()}">DAT17C</p>
                    <span class="col">
                        <p class="textInput myCoursesText" th:if="${course.mandatory}">Mandatory</p>
                        <p class="textInput myCoursesText" th:unless="${course.mandatory}">Elective</p>
                    </span>
                </div>

            </a>

        </form>
    </div>


    <!--<div class="row">-->
    <!--<h1 class="text-center col-md-12">My courses</h1>-->
    <!--</div>-->


    <!--<div class="row">-->
    <!--<div class="col text-center">Course</div>-->
    <!--<div class="col text-center">Class code</div>-->
    <!--<div class="col text-center">Semester</div>-->

    <!--<div class="col text-center">Mandatory</div>-->
    <!--<div class="col text-center"></div>-->
    <!--</div>-->
    <!--<div id="myCourses">-->
    <!--<div class="row" th:each="course : ${courses}">-->
    <!--<div class="col" th:text="${course.courseNameInEnglish}">Full Stack NodeJs</div>-->
    <!--<div class="col" th:text="${course.classCode}"></div>-->
    <!--<div class="col text-center" th:text="${course.semester}"></div>-->
    <!--<div class="col text-center"><input type="checkbox" th:checked="${course.mandatory}" disabled/></div>-->
    <!--<div class="col">-->
    <!--<a th:href="'/teacher/course/'+${course.id}">-->
    <!--<button type="button" class="btn">Open course</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="col">-->
    <!--<a th:href="'/teacher/editCourse/'+${course.id}">-->
    <!--<button type="button" class="myCoursesEditBtn">Edit course</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--end myCourses div-->


</div>


</body>
</html>