<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Denied</title>
    <th:block th:include="fragments/head :: headInclude"/>
</head>
<body class="keaColour">
<div class="container">
    <h1 class="text-center accessDenied">Access denied</h1>
    <p class="text-center">If you believe this is an error, please contact your system administrator</p>
    <button class="loginButton hoverAnimation offset-md-5 col-md-2">Sign in<i
            class="fas fa-arrow-right faArrow"></i></button>
</div>
</body>
</html>