<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <th:block th:include="fragments/head :: headInclude"/>

</head>
<body class="backgroundCover" background="/Images/background.png">

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="loginHeader">KEA - Københavns erhversakedemi</h1>
        </div>
    </div>
    <form th:action="@{/login}" method="post" class="form-group">
        <div class="container centerDiv loginWidth">


            <div class="row">
                <div class="col-md-12">
                    <label class="loginLabel">Email</label>
                    <input id="email" type="text" name="username" class="loginInput" placeholder="Email (ex. john@stud.kea.dk)"/>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <label class="loginLabel"> Password</label>
                    <input type="password" name="password" class="marginBottom15px loginInput" placeholder="*********"/>
                </div>

            </div>

            <div>

                <div class="row" th:if="${param.error}">

                    <div class="col-md-12  text-center  marginBottom15px"><p class="loginError">Invalid username or
                        password</p></div>

                </div>

                <div class="row" th:if="${param.logout}">
                    <div class="col-md-12  text-center  marginBottom15px"><p class="logoutSuccess">You have been logged
                        out</p></div>
                </div>


                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="submit" class="loginButton hoverAnimation">Sign in<i
                                class="fas fa-arrow-right faArrow"></i></button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>


        </div>
    </form>
</div>
</body>
</html>